.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  cursor: pointer;
}

.logo-img {
  width: 200px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  text-decoration: none;
}
.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
  font-weight: bold;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.food-card {
  margin: 8px;
  padding: 8px;
  width: 200px;
  cursor: pointer;
  background-color: grey;
  word-break: break-all;
  white-space: pre-wrap;
}
.food-card:hover {
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.food-card {
  word-break: break-all;
  white-space: pre-wrap;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
  color: black;
  border: 5px;
}

.filter-btn:hover {
  border: 2px solid black;
}

.Shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}

.login-btn {
  padding: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.filter {
  display: flex;
}

.search-btn {
  padding: 3px;
  margin: 3px;
  border: 1px solid blacks;
  cursor: pointer;
}
